---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=kefallinias%2045,%20Patra,%20Greece&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "45",
                       "short_name" : "45",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Kefallinias",
                       "short_name" : "Kefallinias",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Patra",
                       "short_name" : "Patra",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Pa[...]
