@import "compass";
@import "globals/mixins";


#form-login, #form-signup {
  @extend %boxed;
  margin: 60px auto 30px auto;
  padding: 40px 0px;
  #user_email, #user_password, #user_name, #user_password_confirmation {
    padding: 10px;
    width: 70%;
  }
  .input {
    border-radius: 1px 1px 1px 1px;
  }
  .btn {
    border-radius: 1px 1px 1px 1px;
    border: 0px none;
    box-shadow: none;
    text-shadow: none;
  }
  #twitter-button {
    @extend %flat_button;
    background-color: rgb(40, 185, 221);
  }

  #facebook-button {
    @extend %flat_button;
    background-color: rgb(15, 102, 170);
  }

  #google-button {
    @extend %flat_button;
    background-color: rgb(50, 50, 50);
  }
}

.signup-title {
  margin-bottom: 40px;
}

.social {
  margin-top: 20px;
  max-width: 305px;
  min-height: 310px;
}

.social-form{
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.email-form {
  margin-left: 20px;
  padding-left: 20px;
}

#form-property {
  @extend %boxed;
  legend, .pictures {
    text-align: left;
  }
  input {
    padding: 8px;
  }

  input.btn {
    width: 80%;
  }
  // override bootstrap margins
  .form-horizontal .controls {
    margin-left: 120px;
  }
  .form-horizontal .control-label {
    width: 90px;
  }
  .leftpad {
    padding-left: 55px;
  }
  h3 {
    margin-bottom: 10px;
    color: #676767;
    text-align: center;
  }
  .pictures div {
    padding-left: 60px;
    /*text-align: center;*/
  }
}

#form-account {
  @extend %boxed;
  text-align: center;
  h3 {
    margin-bottom: 10px;
    color: #676767;
  }
  input {
    padding: 10px;
    margin-top: 20px;
    width: 60%;
  }
  .btn {
    width: 50%;
  }
  span.help-inline {
    display: block;
  }
}
