<%= title('New property') %>
<div class="row">
  <div class="span12">
    <div id="form-property">
      <h3>Create a property</h3>
      <%= render 'form', property: @property %>
    </div>
  </div>
</div>
