/*footer*/
#push {
  height: 140px;
}

footer {
  background: none repeat scroll 0% 0% rgb(92, 92, 92);
  color: rgb(194, 194, 194);


  ul {
    margin: 0px;
  }

  li {
    list-style: none;
    line-height: 25px;
  }

  a {
    color: rgb(194, 194, 194);
  }


  .top-footer{
    padding: 20px 0px 30px 0px;
  }

  h4 {
    border-bottom: 1px solid rgb(112, 112, 112);
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
  }

  #contact li {
    line-height: 30px;
  }

  #footer-bottom {
    background-color: black;
  }

  #copyright {
    font-size: 13px;
  }
}

