.latest_properties {
  text-align: center;
  border-bottom:1px solid #d5d5d5;
  margin-bottom: 35px;

  h2 {
    display:inline-block;
    font-weight:100;
    font-size:36px;
    position:relative;
    top:28px;
    background:#fff;
    padding:0 12px;
  }
}
