.landing-page-search {
  margin-top: 50px;
  margin-bottom: 40px;
  margin-left: 108px;

  input {
     height: 30px;
   }

   #search_query {
     width: 70%;
   }
   .search-button {
     margin: 0px 0px 10px 13px;
     height: 40px;
   }
}

.featured-price-tag {
  position: absolute;
  top: 25px;
  right: 20px;
  font-size: 1.4em;
}

.latest_properties {
  text-align: center;
  border-bottom:1px solid #d5d5d5;
  margin-bottom: 35px;

  h2 {
    display:inline-block;
    font-weight:100;
    font-size:36px;
    position:relative;
    top:28px;
    background:#fff;
    padding:0 12px;
  }
}

.landing-page-info {

  .thumbnail-info {
    height: 210px;
    position: relative;
  }

  #nearby-properties {
    background: image-url("nearby.png");
  }

  #list-place {
    background: image-url("list.png");
  }

  #agent-info {
    background: image-url("agent.png");
  }

  .caption {
    background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.7);
    color: rgb(42, 43, 43);
    font-weight: bold;
    padding: 5px 0px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    text-align: center;
    width: 100%;
  }
}
