.latest_properties {
  text-align: center;
  border-bottom:1px solid #d5d5d5;
  margin-bottom: 35px;

  h2 {
    display:inline-block;
    font-weight:100;
    font-size:36px;
    position:relative;
    top:28px;
    background:#fff;
    padding:0 12px;
  }
}

.landing-page-search {
  margin-top: 50px;
  margin-bottom: 40px;
  margin-left: 108px;

  input {
     height: 30px;
   }

   #search_query {
     width: 70%;
   }
   .search-button {
     margin: 0px 0px 10px 13px;
     height: 40px;
   }
}

.featured-price-tag {
  position: absolute;
  top: 25px;
  right: 20px;
  font-size: 1.4em;
}
