@import "compass";
@import "globals/mixins";

.results {
  border-bottom: 1px solid rgba(0, 0, 0, 0.18);
  margin: 40px auto;
  h4 {
  line-height: 15px;
  }
}


.listings {
  .thumbnail {
    @extend %boxed;
    margin: 5px auto 5px auto;
    padding: 10px;
  }
  .info {
    padding-left: 5px;
  }
  #price {
    float: right;
  }
}
